<div class="container-fluid">
    <div class="row">
        <!-- Main Sidebar -->
        <app-main-sidebar class="main-sidebar col-12 col-md-3 col-lg-2 px-0"></app-main-sidebar>
        <!-- End Main Sidebar -->
        <!-- Main Content -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
            <!-- Main Navigation -->
            <app-main-navbar></app-main-navbar>
            <!-- End Main Navigation -->
            <div class="main-content-container container-fluid px-4">
                <router-outlet></router-outlet>
            </div>
            <app-main-footer></app-main-footer>
        </main>
        <!-- End Main Content -->
    </div>
</div>