<div class="row">
    <div class="col-lg-10 ml-3 mx-auto">
        <div class="card card-small mb-4">
            <div class="card-header p-0">
                <div class="my-3 mx-4">
                    <h4 class="page-title"></h4>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="border-bottom clearfix d-flex">
                    <ul class="nav nav-tabs border-0 mt-auto mx-4 pt-2">
                        <li class="nav-item">
                            <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab">{{tab1}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="accounts-tab" data-toggle="tab" href="#accounts" role="tab">{{tab2}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="items-tab" data-toggle="tab" href="#items" role="tab">{{tab3}}</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                    <!-- <app-form-purchase-order-general></app-form-purchase-order-general> -->
                    </div>
                    <div class="tab-pane fade" id="accounts" role="tabpanel" aria-labelledby="accounts-tab">
                    <!-- <app-form-purchase-order-vehicle></app-form-purchase-order-vehicle> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>