<div class="row  d-flex justify-content-between">
    <div class="page-header row no-gutters py-4 pl-3">
        <app-page-header title="Lopez,Juan"></app-page-header>
    </div>
    <div class="page-header row no-gutters py-4 pr-3">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
          Edit
        </button>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 mb-4">
        <div class="card card-small go-stats h-100">
            <div class="card-header border-bottom d-flex justify-content-between">
                <h6 class="m-0">Datos Expen..</h6>
            </div>
            <div class="card-body py-0"></div>
            <div class="card-footer border-top"></div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card card-small go-stats h-100">
            <div class="card-header border-bottom d-flex justify-content-between">
            </div>
            <div class="card-body py-0"></div>
            <div class="card-footer border-top"></div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                Et has debitis vivendo, nam dicant malorum te. Justo moderatius elaboraret cu est, nibh placerat insolens id mea. Suas equidem usu ad, eos ex sint stet alterum. Sit in adhuc propriae contentiones, dicta decore eum an.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nope</button>
                <button type="button" class="btn btn-primary">Yep</button>
            </div>
        </div>
    </div>
</div>