<div class="main-navbar">
    <nav class="navbar align-items-stretch navbar-light bg-warning flex-md-nowrap border-bottom p-1">
        <a class="navbar-brand-icon w-100 mr-0" [routerLink]="['/']" style="line-height: 25px;">
            <div class="d-table m-auto">
                <app-letter-icon dataLetters="GESad" cssClass="user-avatar rounded-circle text-uppercase icon-sm mr-2">
                </app-letter-icon>
            </div>
        </a>
        <a class="toggle-sidebar d-sm-inline  d-md-none d-lg-none">
            <i class="material-icons">&#xE5C4;</i>
        </a>
    </nav>
</div>
<div class="nav-wrapper nav-scrollbar" style="overflow-y: auto;background-color: antiquewhite;">
    <ul *ngIf="nav" class="nav flex-column border-0">
        <li class="nav-search">
            <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search">
        </li>
        <li class="nav-item">
            <div class="user-activity__item pr-3 py-3">
                <div class="user-activity__item__content">
                    <p><b>Lops Juana</b></p>
                    <span class="text-light">abavdad</span>
                </div>
                <div class="user-activity__item__action ml-auto">
                    <button class="ml-auto btn btn-sm btn-success">On Hold</button>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <div class="user-activity__item pr-3 py-3">
                <div class="user-activity__item__content">
                    <p><b>Lops Juana</b></p>
                    <span class="text-light">abavdad</span>
                </div>
                <div class="user-activity__item__action ml-auto">
                    <button class="ml-auto btn btn-sm btn-success">On Hold</button>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <div class="user-activity__item pr-3 py-3">
                <div class="user-activity__item__content">
                    <p><b>Lops Juana</b></p>
                    <span class="text-light">abavdad</span>
                </div>
                <div class="user-activity__item__action ml-auto">
                    <button class="ml-auto btn btn-sm btn-success">On Hold</button>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <div class="user-activity__item pr-3 py-3">
                <div class="user-activity__item__content">
                    <p><b>Lops Juana</b></p>
                    <span class="text-light">abavdad</span>
                </div>
                <div class="user-activity__item__action ml-auto">
                    <button class="ml-auto btn btn-sm btn-success">On Hold</button>
                </div>
            </div>
        </li>
    </ul>
</div>